canvas {
  position: absolute;
  top: 0;
  left: 0;
}

body {
  margin: 0;
  overflow: hidden;
  background: #111;
  font-family: Verdana, sans-serif;
}

p {
  margin: 0;
  position: absolute;
  font: 16px Verdana;
  color: #eee;
  height: 25px;
  bottom: 10px;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 2px white;
}

p a {
  text-decoration: none;
  color: #aaa;
}

span {
  font-size: 11px;
}
